/* Apply styles specifically for mobile devices */
@media only screen and (max-width: 768px) {
    body{
        background-color: black; /* Dark background */
        background-image:url(../assets/c3.jpg)



    }
   
    /* Styling for top logo */
    .top_logo {
        font-size: 24px;
        font-weight: bold;
        margin: 30px 50px 0 0;
        text-align: right;
        color: white;

    }

  
  .form-input{
    margin: 50px 0 0 0;
    padding: 40px;
    color: white;
    font-size: larger;
    }
    
  .btn1{
    background: linear-gradient(to right,#1367C1,#FF1B05,#FBB03C);
    border: none;
    width:100% ;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8%;
    font-weight: bold;
    color: white;

      }
    
    

  
    
}
